body {
  background: url(https://media.gettyimages.com/id/159238715/vector/wheater-icon-set.jpg?s=1024x1024&w=gi&k=20&c=KKySVxpU5sqrSsYRTyCJhsaOpBk7sJIYpZC9QvkYSt0=);
  /* 화면 높이의 100프로 */
  height: 100vh;
  /* 백그라운드 반복 안되게 하기 */
  background-repeat: no-repeat;
  /* 비어있는 부분 채우게 */
  background-size: cover;
}

.container {
  /* 중앙으로 가져오기 (가로정렬로 바뀜) */
  display: flex;
  /* 가로 가운데 정렬 */
  justify-content: center;
  /* 세로 가운데 정렬 */
  align-items: center;
  height: 100vh;
  /* 가로정렬로 바뀐거 세로로 다시 바꿔줌 */
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  /* 안에 공간 주는거 */
  padding: 50px;
  border-radius: 30px;
  background-color: blue;
}

.menu-container {
  background-color: blue;
}
