body {
  background: url(https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg);
  /* 화면 높이의 100프로 */
  height: 100vh;
  /* 백그라운드 반복 안되게 하기 */
  background-repeat: no-repeat;
  /* 비어있는 부분 채우게 */
  background-size: cover;
  /* background-color: rgb(48, 47, 47); */
}

.container {
  /* 중앙으로 가져오기 (가로정렬로 바뀜) */
  display: flex;
  /* 가로 가운데 정렬 */
  justify-content: center;
  /* 세로 가운데 정렬 */
  align-items: center;
  height: 100vh;
  /* 가로정렬로 바뀐거 세로로 다시 바꿔줌 */
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  /* 안에 공간 주는거 */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  /* border-radius: 30px; */
  background-color: white;
  width: 750px;
}

.weather-name {
  font-size: 18px;
  font-weight: bold;
}

.info-box {
  display: flex;
  flex-direction: row;
}

.item-img {
  padding-top: 12px;
}

.tem-cfb {
  display: flex;
  flex-direction: row;
}

.tem-cf {
  font-size: 40px;
  font-weight: bold;
}

.tem-btn {
  padding-top: 13px;
}

.tem-button {
  background-color: white;
  border: 0cap;
}

.wth-tw {
  flex-direction: column;
  margin-left: 370px;
}

.wth-font {
  font-size: 19px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.time-font {
  display: flex;
  justify-content: flex-end;
}

.des-font {
  display: flex;
  justify-content: flex-end;
}

.forecast-box {
  border: 3px solid white;
  /* 안에 공간 주는거 */
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  /* border-radius: 30px; */
  background-color: white;
  width: 750px;
}

.forecast-box-ul {
  display: flex;
  flex-direction: row;
}

.forecast-box-li {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}
